---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';


const allPosts = await getCollection("blog");

const pageTitle = "博客";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>我的Astro学习博客</h1>
  <p>开启 astro 学习之旅</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
