---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="w-xl flex justify-around ...">
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>
