---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav class="nav">
    <Hamburger />
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
  .nav {
    display: flex;
  }
</style>