---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
  a {
    padding: 0.5rem 1rem;
    border-radius: 5%;
    color: white;
    background-color: #6c06cb;
    text-decoration: none;
    font-weight: bolder;
  }
</style>    